<!DOCTYPE html>
<html xmlns="http:/www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <title>Cadastro de Boletos</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/stys.css.min.css" />
</head>

<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Logo do SENAI no topo -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="/images/SENAI_WEB.png" alt="" loading="lazy">
        </a>
    </nav>
    <form formcadastro method="POST" action="/boletos">
        <div class="form-group row">
            <label for="descricao" class="col-4 col-form-label">Descrição</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-book"></i>
                        </div>
                    </div>
                    <input id="descricao" name="descricao" type="text" required="required" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="dataVencimento" class="col-4 col-form-label">Data Vencimento</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <input id="dataVencimento" name="dataVencimento" type="date " required="required" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="valor" class="col-4 col-form-label">Valor</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-money"></i>
                        </div>
                    </div>
                    <input id="valor" name="valor" type="text" required="required" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-4 col-form-label">Status</label>
            <div class="col-8">
                <div class="input-group">
                    <select class="form-control" name="status" required="required">
                         <!-- th deriva do framework thymeleaf -->
                        <option th:each="status :${todosStatusBoleto}" th:value="${status}" th:text="${status.descricao}" > </option>
                    </select>
                    <div class="input-group-text ">
                        <i class="fa fa-hourglass-start "></i>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="form-group row ">
            <div class="offset-4 col-8 ">
                <button name="submit " type="submit " class="btn btn-primary ">Salvar</button>
            </div>
        </div>
    </form>
    <script src="/js/bootstrap.min.js "></script>
</body>

</html>