formcadastro {
    /* Apenas para centralizar o form na página */
    margin-left:10px;
    margin-right: 10px;
    margin-top: 10px;
    /* Para ver as bordas do formulário */
    padding: 2em;
    border: 1px solid #17a1b6;
    border-radius: 1em;
    
}